<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Take Action</title>
  <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style_other.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Da|Chivo" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
  <header>
    <div>
      <a href="/">Dartmouth—Here for You</a>
    </div>
    <div>
       <li2><a href="{{ url_for('aware') }}">Be Aware</a></li2>
       <li2><a href="{{ url_for('resources') }}">Resources</a></li2>
       <li2><a href="{{ url_for('immediate') }}">Immediate&nbspHelp</a></li2>
       <li2><a href="{{ url_for('involve') }}">Get&nbspInvolved</a></li2>
       <li2><a href="{{ url_for('about') }}">About&nbspUs</a></li2>
    </div>
  </header>

  <main>
    <div>
      <h1>I want to take legal action.</h1>
    </div>
    <!--<hr>-->
  </main>

  <hr>

  <text>
    <div>
      <h5>Thank you for sharing and making a report. We’d like to show you the next steps to take to pursuing legal action and how to get support for the process.</h5>
    </div>
  </text>

  <text>
    <div>
      <h2>Making a report to the college</h2>
    </div>
  </text>

  <div>
    <h4>
      <ul>
        <li>Title IX Coordinator: Allison O'Connell</li>
        <li>titleix@dartmouth.edu</li>
      </ul>
    </h4>
  </div>

  &nbsp;

  <div>
    <h3>
      <ul>
        <li>The Title IX Coordinator will work with the Office of Judicial Affairs</li>
        <li>to initiate the College's disciplinary process and investigation.</li>
        <li>You may also contact to request interim measures such as access to counseling</li>
        <li>and support resources, access to academic accommodations, change in campus housing, etc.</li>
      </ul>
    </h3>
  </div>

  &nbsp;

  <div>
    <h3>
      <ul>
        <li>—</li>
      </ul>
    </h3>
  </div>

  <div>
    <small_space></small_space>
  </div>

  <div>
    <h4>
      <ul>
        <li>Department of Safety and Security</li>
        <li>Office of Judicial Affairs</li>
      </ul>
    </h4>
  </div>

  &nbsp;

  <div>
    <h3>
      <ul>
        <li>If the report is received by the Department of Safety and Security or</li>
        <li>the Office of Judicial Affairs, they will promptly notify the Title IX Coordinator.</li>
      </ul>
    </h3>
  </div>

  &nbsp;

  <div>
    <h3>
      <ul>
        <li>—</li>
      </ul>
    </h3>
  </div>

  <div>
    <small_space></small_space>
  </div>

  <div>
    <h4>
      <ul>
        <li>The Department of Safety and Security Anonymous Reporting Form</li>
      </ul>
    </h4>
  </div>

  &nbsp;

  <div>
    <h3>
      <ul>
        <li>The Title IX Coordinator will receive the anonymous report and</li>
        <li>will determine any appropriate response,including individual or community remedies.</li>
      </ul>
    </h3>
  </div>


  <text>
    <div>
      <h2>Making a report to local law enforcement</h2>
    </div>
  </text>

  <div>
    <h4>
      <ul>
        <li>Hanover Police Department (HPD)</li>
        <li>(603) 643-2222</li>
      </ul>
    </h4>
  </div>

  &nbsp;

  <div>
    <h3>
      <ul>
        <li>You may receive information only, initiate a partial investigation,</li>
        <li>or conduct a complete criminal investigation.</li>
      </ul>
    </h3>
  </div>

  &nbsp;

  <div>
    <h3>
      <ul>
        <li>—</li>
      </ul>
    </h3>
  </div>

  <div>
    <small_space></small_space>
  </div>

  <div>
    <h4>
      <ul>
        <li>Department of Safety and Security</li>
        <li>(603) 646-4000</li>
      </ul>
    </h4>
  </div>

  &nbsp;

  <div>
    <h3>
      <ul>
        <li>Contact for assistance with making a report to law enforcement.
      </ul>
    </h3>
  </div>

  &nbsp;

  <div>
    <h3>
      <ul>
        <li>—</li>
      </ul>
    </h3>
  </div>

  <div>
    <small_space></small_space>
  </div>

  <div>
    <h4>
      <ul>
        <li>Dartmouth Compliance and Ethics Hotline</li>
        <li>dartmouth.ethicspoint.com</li>
        <li>(888) 497-0516</li>
      </ul>
    </h4>
  </div>

  &nbsp;

  <div>
    <h3>
      <ul>
        <li>An independent anonymous reporting service.</li>
      </ul>
    </h3>
  </div>



  <div>
    <space>
    </space>
  </div>

</body>
