<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Get Involved</title>
  <link rel="stylesheet" type="text/css" href="static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="static/css/style_other.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Da|Chivo" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
  <header>
    <div>
      <a href="/">Dartmouth—Here for You</a>
    </div>
    <div>
       <li2><a href="{{ url_for('aware') }}">Be Aware</a></li2>
       <li2><a href="{{ url_for('resources') }}">Resources</a></li2>
       <li2><a href="{{ url_for('immediate') }}">Immediate&nbspHelp</a></li2>
       <li2><a href="{{ url_for('involve') }}">Get&nbspInvolved</a></li2>
       <li2><a href="{{ url_for('about') }}">About&nbspUs</a></li2>
    </div>
  </header>

  <main>
    <div>
      <h1>Get Involved</h1>
    </div>
    <!--<hr>-->
  </main>

  <hr>

  <text>
    <div>
      <h2>Student Organizations</h2>
    </div>
  </text>

  <div>
    <h4>
      <ul>
        <li>MAV</li>
      </ul>
    </h4>
  </div>
  <div>
    <h3>
      <ul>
        <li>Peer educators for sexual violence prevention.</li>
      </ul>
    </h3>
  </div>
  <div>
    <small_space></small_space>
  </div>
  <div>
    <h4>
      <ul>
        <li>OPAL Ambassadors</li>
      </ul>
    </h4>
  </div>
  <div>
    <h3>
      <ul>
        <li>Peer educators around issues of diversity, power, and oppression.</li>
      </ul>
    </h3>
  </div>
  <div>
    <small_space></small_space>
  </div>
  <div>
    <h4>
      <ul>
        <li>SAPAs</li>
      </ul>
    </h4>
  </div>
  <div>
    <h3>
      <ul>
        <li>Peer advocates who support student survivors of sexual violence.</li>
      </ul>
    </h3>
  </div>
  <div>
    <small_space></small_space>
  </div>
  <div>
    <h4>
      <ul>
        <li>Sexperts</li>
      </ul>
    </h4>
  </div>
  <div>
    <h3>
      <ul>
        <li>Peer educators on sexual health and healthy relationships.</li>
      </ul>
    </h3>
  </div>
  <div>
    <small_space></small_space>
  </div>
  <div>
    <h4>
      <ul>
        <li>SPCSA</li>
      </ul>
    </h4>
  </div>
  <div>
    <h3>
      <ul>
        <li>Student committee that issues annual policy recommendations.</li>
      </ul>
    </h3>
  </div>

  <div>
    <space>
    </space>
  </div>

</body>
