<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Resources</title>
  <link rel="stylesheet" type="text/css" href="static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="static/css/style_other.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Da|Chivo" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
  <header>
    <div>
      <a href="/">Dartmouth—Here for You</a>
    </div>
    <div>
       <li2><a href="{{ url_for('aware') }}">Be Aware</a></li2>
       <li2><a href="{{ url_for('resources') }}">Resources</a></li2>
       <li2><a href="{{ url_for('immediate') }}">Immediate&nbspHelp</a></li2>
       <li2><a href="{{ url_for('involve') }}">Get&nbspInvolved</a></li2>
       <li2><a href="{{ url_for('about') }}">About&nbspUs</a></li2>
    </div>
  </header>

  <main>
    <div>
      <h1>Resources</h1>
    </div>
    <!--<hr>-->
  </main>

  <hr>

  <text>
    <div>
      <h2>For a confidential resource</h2>
    </div>
  </text>

  <div>
    <h3>
      <ul>
        <li>Counseling & Human Development (CHD)</li>
        <li>WISE Campus Advocate</li>
        <li>Dick’s House: Health Services</li>
        <li>Faculty/Employee Assistance Program (FEAP)</li>
        <li>The Tucker Center (Ordained Ministers, Priests, and Rabbis)</li>
        <li>Department of Safety & Security</li>
        <li>Interim Title IX Coordinator</li>
      </ul>
    </h3>
  </div>


  <text>
    <div>
      <h2>For a private conversation</h2>
    </div>
  </text>

  <div>
    <h3>
      <ul>
        <li>Undergraduate Deans</li>
        <li>Community Directors & Residential Undergraduate Advisors (UGAs)</li>
        <li>Student Wellness Center</li>
        <li>Office of Pluralism & Leadership (OPAL)</li>
        <li>Office of Judicial Affairs</li>
        <li>Department of Safety & Security</li>
        <li>Institutional Diversity & Equity</li>
        <li>Human Resources</li>
      </ul>
    </h3>
  </div>


  <text>
    <div>
      <h2>To stay anonymous</h2>
    </div>
  </text>

  <div>
    <h3>
      <ul>
        <li>Dartmouth Compliance & Ethics Hotline</li>
        <li>Safety & Security Anonymous Reporting Form</li>
      </ul>
    </h3>
  </div>


  <text>
    <div>
      <h2>For an off-campus resource</h2>
    </div>
  </text>

  <div>
    <h3>
      <ul>
        <li>Hanover Police Department</li>
        <li>WISE</li>
        <li>Dartmouth-Hitchcock Medical Center (DHMC)</li>
        <li>Planned Parenthood – White River Junction</li>
      </ul>
    </h3>
  </div>

  <div>
    <space>
    </space>
  </div>

</body>
