<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Get Involved</title>
  <link rel="stylesheet" type="text/css" href="static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="static/css/style_other.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Da|Chivo" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
  <header>
    <div>
      <a href="/">Dartmouth—Here for You</a>
    </div>
    <div>
       <li2><a href="{{ url_for('aware') }}">Be Aware</a></li2>
       <li2><a href="{{ url_for('resources') }}">Resources</a></li2>
       <li2><a href="{{ url_for('immediate') }}">Immediate&nbspHelp</a></li2>
       <li2><a href="{{ url_for('involve') }}">Get&nbspInvolved</a></li2>
       <li2><a href="{{ url_for('about') }}">About&nbspUs</a></li2>
    </div>
  </header>

  <main>
    <div>
      <h1>Thank you for submitting.</h1>
    </div>
    <!--<hr>-->
  </main>

  <hr>


  <div>
    <space>
    </space>
  </div>

</body>
