<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Talk to Someone</title>
  <link rel="stylesheet" type="text/css" href="static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="static/css/style_other.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Da|Chivo" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
  <header>
    <div>
      <a href="/">Dartmouth—Here for You</a>
    </div>
    <div>
       <li2><a href="{{ url_for('aware') }}">Be Aware</a></li2>
       <li2><a href="{{ url_for('resources') }}">Resources</a></li2>
       <li2><a href="{{ url_for('immediate') }}">Immediate&nbspHelp</a></li2>
       <li2><a href="{{ url_for('involve') }}">Get&nbspInvolved</a></li2>
       <li2><a href="{{ url_for('about') }}">About&nbspUs</a></li2>
    </div>
  </header>

  <main>
    <div>
      <h1>I want to talk to someone.</h1>
    </div>
    <!--<hr>-->
  </main>

  <hr>

  <text>
    <div>
      <h5>Thank you for sharing and making a report. We’d like to show you the multitude of options you have available at Dartmouth for talking to someone and getting support.</h5>
    </div>
  </text>

  <text>
    <div>
      <h2>SAPAs</h2>
    </div>
  </text>

  <div>
    <h3>
      <ul>
        <li>sapa@dartmouth.edu</li>
&nbsp;
        <li>A group of trained Dartmouth Students invested in providing, informed, empathic,</li>
        <li>and empowerment-based support to Dartmouth students impacted by sexual</li>
        <li>and gender-based violence.</li>
      </ul>
    </h3>
  </div>


  <text>
    <div>
      <h2>Sexperts</h2>
    </div>
  </text>

  <div>
    <h3>
      <ul>
        <li>Sexperts@dartmouth.edu</li>
        <li>Advisor: Tong Fei, Healthy Relationships and Sexual Health Specialist
        <li>Student Wellness Center Robinson (Robo) Hall, Suite 319</li>
        <li>(603) 646-9414</li>
&nbsp;
        <li>Sexual Health Peer Educators serve as campus educational peer educators and provide</li>
        <li>advising services for students who wish to speak to a peer on an individual basis.</li>
      </ul>
    </h3>
  </div>


  <text>
    <div>
      <h2>Dick's House Counselors and Doctors</h2>
    </div>
  </text>

  <div>
    <h3>
      <ul>
        <li>Regular business hours for counselors: (603) 646-9442</li>
        <li>After business hours for counselors: (603) 646-9440</li>
  &nbsp;
        <li>The clinicians are trained on issues surrounding sexual violence and can provide support</li>
        <li>and information to help you process your experience, guide you in coping with the trauma,</li>
        <li>and help you consider options and decide what will be most beneficial to healing.</li>
        <li>They can offer support and information to help you make your own informed, empowered decisions.</li>
      </ul>
    </h3>
  </div>

  <text>
    <div>
      <h2>Tucker Center Chaplain</h2>
    </div>
  </text>

  <div>
    <h3>
      <ul>
        <li>Daveen.H.Litwin@dartmouth.edu</li>
        <li>(603) 646-3780</li>
  &nbsp;
        <li>Rabbi Daveen Litwin is the dean and chaplain of the Tucker Center on campus.</li>
        <li>If you would like to speak to other religious support individuals, please see the Tucker Center website.</li>
      </ul>
    </h3>
  </div>

  <text>
    <div>
      <h2>WISE</h2>
    </div>
  </text>

  <div>
    <h3>
      <ul>
        <li>24 hr crisis line: (603) 448-5525</li>
        <li>(603) 448-5922</li>
        <li>(866) 348-WISE</li>
        <li>delaney@wiseuv.org</li>
  &nbsp;
        <li>WISE advocates are also available on campus Mondays from 8 am-4 pm in 37 Dewey Field Road, room 452.</li>
        <li>WISE leads the Upper Valley to end gender-based violence through survivor-centered advocacy,</li>
        <li>prevention, education and mobilization for social change.</li>
    </h3>
  </div>

  <div>
    <space>
    </space>
  </div>

</body>
